In [1]:
from langchain_experimental.sql import SQLDatabaseChain
from langchain.sql_database import SQLDatabase
from langchain_google_genai import ChatGoogleGenerativeAI
import os

In [2]:
# Initialize the LLM (Gemini model)
os.environ["GOOGLE_API_KEY"] = "AIzaSyB1N-uUv54EvxjhsiCWcldBrEhYCJJDukw"
llm = ChatGoogleGenerativeAI(model="gemini-2.0-flash", temperature=0.2)
response = llm.invoke("Write a twoâ€‘line poem about the moon.")
print(response.content)

A silver coin in velvet skies,
It watches over, as the world lies.

In [3]:
prompt = '''
you are an sql expert.
this is the schema of the database: {schema}
your task is to generate the sql query required to get the answer for this question: {question}
your output should be in JSON FORMAT with the below key:
 - sql_query: <your sql query here>

DONOT INCLUDE THE ```JSON TAGS

'''

In [ ]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
db_user = "root"
db_password = "Ziva267"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",include_tables=["t_shirts"], sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Blue	XS	21	10
2	Van Huesen	White	M	23	11
3	Van Huesen	Red	XS	35	93
*/

In [6]:
response = llm.invoke(prompt.format(schema=db.table_info, question='How much is the price of the inventory for all small size t-shirts?'))

In [7]:
print(response.content)

```json
{
  "sql_query": "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'"
}
```

In [8]:
import json
import re

def extract_sql_query(text: str) -> str:
    """
    Extracts the SQL query string from a JSON-formatted LLM output.

    Parameters:
        llm_output (str): JSON-formatted string containing the SQL query.

    Returns:
        str: The extracted SQL query.
    """
    match = re.search(r"```json\s*({.*?})\s*```", text, re.DOTALL)
    if not match:
        return ""
    
    json_str = match.group(1)

    # Step 2: Parse JSON and extract the SQL query
    try:
        data = json.loads(json_str)
        return data.get("sql_query", "").strip()
    except json.JSONDecodeError:
        return ""

In [28]:
print(response.content)

```json
{
  "sql_query": "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'"
}
```

In [29]:
query = extract_sql_query(response.content)
print(query)

SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'

In [ ]:
query = text(query)
print(query)

with engine.connect() as conn:
    result = conn.execute(query)
    rows = result.fetchall()
    print("Manual SQL Result:", rows)

SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'
Manual SQL Result: [(Decimal('21875'),)]